{% extends '_base.html' %}
{% load static %}
{% block styles %}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
{% endblock %}
{% block content %}

		<section class="cover-sec">
			<img src="{{ user.profile.background.url }}" alt="">
            <a href="#" id="backgroud-upload" title=""><i class="fa fa-camera"></i> Change Image</a>
            <input type="file" id="background-file" style="display: none;">
		</section>




		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="{{user.profile.photo.url}}" alt="">
                                            <input type="file" id="photo-file" style="display: none;">
											<a href="#" id="photo-upload" title=""><i class="fa fa-camera"></i></a>
										</div><!--user-pro-img end-->
										<div class="user_pro_status">
											<ul class="flw-status">
												<li>
													<span>Following</span>
													<b>{{ following_count }}</b>
												</li>
												<li>
													<span>Followers</span>
													<b>{{ follower_count }}</b>
												</li>
											</ul>
										</div><!--user_pro_status end-->
										<ul class="social_links">
											<li><a href="#" title=""><i class="fa fa-mail-reply"></i> www.example.com</a></li>
											<li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
										</ul>
									</div><!--user_profile end-->

                                    <div class="suggestions full-width">
										<div class="sd-title">
											<h3>Followed</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											{% for fo in followed %}
                                                <div class="suggestion-usd">
                                                    <img src="{{ fo.followed.profile.photo.url }}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{fo.followed.get_full_name|default_if_none:fo.followed.username}}</h4>
                                                        <span>{{fo.followed.profile.about|default_if_none:""}}</span>
                                                    </div>

                                                </div>
											{% endfor %}



										</div><!--suggestions-list end-->
									</div><!--suggestions end-->

								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3>{{user.get_full_name|default_if_none:user.username}}</h3>
										<div class="star-descp">
											<span>{{user.profile.about|default_if_none:""}}</span>


										</div><!--star-descp end-->
										<div class="tab-feed st2">
											<ul>
												<li data-tab="feed-dd" class="active">
													<a href="#" title="">
														<img src="{% static 'images/ic1.png' %}" alt="">
														<span>Feed</span>
													</a>
												</li>
												<li data-tab="info-dd">
													<a href="#" title="">
														<img src="{% static 'images/ic2.png' %}" alt="">
														<span>Info</span>
													</a>
												</li>

											</ul>
										</div><!-- tab-feed end-->
									</div><!--user-tab-sec end-->
									<div class="product-feed-tab current" id="feed-dd">
										<div class="infinite-conatainer">
                                        {% for post in posts %}

										<div class="posty">
											<div class="post-bar no-margin">
												<div class="post_topbar">
													<div class="usy-dt">
														<img class="profile-img" src="{{ post.author.profile.photo.url}}" alt="">
														<div class="usy-name">
															<h3>{{post.author.get_full_name}}</h3>
															<span><img src="{% static 'images/clock.png' %}" alt="">{{post.created_at}}</span>
														</div>
													</div>
													<div class="ed-opts">
														<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
														<ul class="ed-options">
															<li><a href="#" title="">Delete</a></li>
														</ul>
													</div>
												</div>

												<div class="job_descp">
													<h3>{{ post.title|default_if_none:"" }}</h3>

													<p>{{ post.content|truncatechars:100 }}... <a href="#" title="">view more</a></p>

												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a href="#"><i class="la la-heart"></i> Like</a>
															<img src="{% static 'images/liked-img.png' %}" alt="">
															<span>{{post.postlike_set.all|length}}</span>
														</li>
														<li><a href="#" title="" class="com"><img src="{% static 'images/com.png' %}" alt=""> Comment {{post.comment_set.all|length}}</a></li>
													</ul>
													<a><i class="la la-eye"></i>{{post.postview_set.all|length}}</a>
												</div>
											</div><!--post-bar end-->
											<div class="comment-section">

												<div class="comment-sec">
													<ul>
                                                        {% for comment in post.comment_set.all %}



														<li>
															<div class="comment-list">
																<div class="bg-img">
																	<img class="comment-img" src="{{comment.author.profile.photo.url}}" alt="">
																</div>
																<div class="comment">
																	<h3>{{comment.author.get_full_name|default_if_none:comment.author.username}}</h3>
																	<span><img src="{% static 'images/clock.png' %}" alt=""> {{comment.created_at}}</span>
																	<p>{{ comment.content }} </p>
																	<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
																</div>
															</div><!--comment-list end-->

                                                            <ul>

                                                                    {% for reply in comment.parent_comment.all  %}
                                                                        <li>
                                                                            <div class="comment-list">
                                                                                <div class="bg-img">
                                                                                    <img class="comment-img" src="{{ reply.reply.author.profile.photo.url }}" alt="">
                                                                                </div>
                                                                                <div class="comment">
                                                                                    <h3>{{reply.reply.author.get_full_name|default_if_none:reply.reply.author.username}}</h3>
                                                                                    <span><img src="{% static 'images/clock.png' %}" alt=""> {{reply.reply.created_at}}</span>
                                                                                    <p>{{reply.reply.content}} </p>
{#                                                                                    <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>#}
                                                                                </div>
                                                                            </div><!--comment-list end-->
                                                                        </li>
                                                                    {% endfor %}



															</ul>
														</li>
                                                            {% endfor %}

													</ul>
												</div><!--comment-sec end-->
												<div class="post-comment">
													<div class="cm_img">
														<img class="comment-img" src="{{request.user.profile.photo.url}}" alt="">
													</div>
													<div class="comment_box">
														<form>
															<input type="text" placeholder="Post a comment">
															<button type="submit">Send</button>
														</form>
													</div>
												</div><!--post-comment end-->
											</div><!--comment-section end-->
										</div><!--posty end-->
                                        {% endfor %}
                                    </div>
										<div class="loading process-comm" style="display: none;">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div><!--process-comm end-->

                                    {% if page_obj.has_next %}
                                        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
                                    {% endif %}

									</div><!--product-feed-tab end-->
									<div class="product-feed-tab" id="info-dd">
										<div class="user-profile-ov">
											<h3><a href="#" title="" class="overview-open">Overview</a> <a href="#" title="" class="overview-open"><i class="fa fa-pencil"></i></a></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov st2">
											<h3><a href="#" title="" class="exp-bx-open">Experience </a><a href="#" title="" class="exp-bx-open"><i class="fa fa-pencil"></i></a> <a href="#" title="" class="exp-bx-open"><i class="fa fa-plus-square"></i></a></h3>
											<h4>Web designer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
											<h4>UI / UX Designer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
											<h4>PHP developer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3><a href="#" title="" class="ed-box-open">Education</a> <a href="#" title="" class="ed-box-open"><i class="fa fa-pencil"></i></a> <a href="#" title=""><i class="fa fa-plus-square"></i></a></h3>
											<h4>Master of Computer Science</h4>
											<span>2015 - 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3><a href="#" title="" class="lct-box-open">Location</a> <a href="#" title="" class="lct-box-open"><i class="fa fa-pencil"></i></a> <a href="#" title=""><i class="fa fa-plus-square"></i></a></h3>
											<h4>India</h4>
											<p>151/4 BT Chownk, Delhi </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3><a href="#" title="" class="skills-open">Skills</a> <a href="#" title="" class="skills-open"><i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-plus-square"></i></a></h3>
											<ul>
												<li><a href="#" title="">HTML</a></li>
												<li><a href="#" title="">PHP</a></li>
												<li><a href="#" title="">CSS</a></li>
												<li><a href="#" title="">Javascript</a></li>
												<li><a href="#" title="">Wordpress</a></li>
												<li><a href="#" title="">Photoshop</a></li>
												<li><a href="#" title="">Illustrator</a></li>
												<li><a href="#" title="">Corel Draw</a></li>
											</ul>
										</div><!--user-profile-ov end-->
									</div><!--product-feed-tab end-->


								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">

									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Followers</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">

                                           {% for fo in followers %}
                                                <div class="suggestion-usd">
                                                    <img src="{{ fo.follower.profile.photo.url }}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{fo.follower.get_full_name|default_if_none:fo.followed.username}}</h4>
                                                        <span>{{fo.follower.profile.about|default_if_none:""}}</span>
                                                    </div>

                                                </div>
											{% endfor %}

										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>



		<div class="overview-box" id="overview-box">
			<div class="overview-edit">
				<h3>Overview</h3>
				<span>5000 character left</span>
				<form>
					<textarea></textarea>
					<button type="submit" class="save">Save</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->


		<div class="overview-box" id="experience-box">
			<div class="overview-edit">
				<h3>Experience</h3>
				<form>
					<input type="text" name="subject" placeholder="Subject">
					<textarea></textarea>
					<button type="submit" class="save">Save</button>
					<button type="submit" class="save-add">Save & Add More</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->

		<div class="overview-box" id="education-box">
			<div class="overview-edit">
				<h3>Education</h3>
				<form>
					<input type="text" name="school" placeholder="School / University">
					<div class="datepicky">
						<div class="row">
							<div class="col-lg-6 no-left-pd">
								<div class="datefm">
									<input type="text" name="from" placeholder="From" class="datepicker">	
									<i class="fa fa-calendar"></i>
								</div>
							</div>
							<div class="col-lg-6 no-righ-pd">
								<div class="datefm">
									<input type="text" name="to" placeholder="To" class="datepicker">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
					</div>
					<input type="text" name="degree" placeholder="Degree">
					<textarea placeholder="Description"></textarea>
					<button type="submit" class="save">Save</button>
					<button type="submit" class="save-add">Save & Add More</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->

		<div class="overview-box" id="location-box">
			<div class="overview-edit">
				<h3>Location</h3>
				<form>
					<div class="datefm">
						<select>
							<option>Country</option>
							<option value="pakistan">Pakistan</option>
							<option value="england">England</option>
							<option value="india">India</option>
							<option value="usa">United Sates</option>
						</select>
						<i class="fa fa-globe"></i>
					</div>
					<div class="datefm">
						<select>
							<option>City</option>
							<option value="london">London</option>
							<option value="new-york">New York</option>
							<option value="sydney">Sydney</option>
							<option value="chicago">Chicago</option>
						</select>
						<i class="fa fa-map-marker"></i>
					</div>
					<button type="submit" class="save">Save</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->

		<div class="overview-box" id="skills-box">
			<div class="overview-edit">
				<h3>Skills</h3>
				<ul>
					<li><a href="#" title="" class="skl-name">HTML</a><a href="#" title="" class="close-skl"><i class="la la-close"></i></a></li>
					<li><a href="#" title="" class="skl-name">php</a><a href="#" title="" class="close-skl"><i class="la la-close"></i></a></li>
					<li><a href="#" title="" class="skl-name">css</a><a href="#" title="" class="close-skl"><i class="la la-close"></i></a></li>
				</ul>
				<form>
					<input type="text" name="skills" placeholder="Skills">
					<button type="submit" class="save">Save</button>
					<button type="submit" class="save-add">Save & Add More</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->

		<div class="overview-box" id="create-portfolio">
			<div class="overview-edit">
				<h3>Create Portfolio</h3>
				<form>
					<input type="text" name="pf-name" placeholder="Portfolio Name">
					<div class="file-submit">
						<input type="file" name="file">
					</div>
					<div class="pf-img">
						<img src="http://via.placeholder.com/60x60" alt="">
					</div>
					<input type="text" name="website-url" placeholder="htp://www.example.com">
					<button type="submit" class="save">Save</button>
					<button type="submit" class="cancel">Cancel</button>
				</form>
				<a href="#" title="" class="close-box"><i class="la la-close"></i></a>
			</div><!--overview-edit end-->
		</div><!--overview-box end-->




{% endblock %}

{% block scripts %}
    <script>
    $(function () {
        var bgfileupload = $("#background-file");
        var pfileupload = $("#photo-file");
        var bgbutton = $("#backgroud-upload");
        var pbutton = $("#photo-upload");

        bgbutton.click(function () {
            bgfileupload.click();
        });
        bgfileupload.change(function () {
            console.log(this.files[0]);
            var data = new FormData();
            data.append("background",this.files[0] );
            $.ajax({
                url: '{% url 'background-image-upload-api' %}',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (e) {
                    location.reload();
                },
                error: function (e) {
                    alert("Error uploading background image!");
                }
            })
        })
        pbutton.click(function () {
            pfileupload.click();
        });
        pfileupload.change(function () {
            console.log(this.files[0]);
            var data = new FormData();
            data.append("profile",this.files[0] );
            $.ajax({
                url: '{% url 'profile-photo-upload-api' %}',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (e) {
                    location.reload();
                },
                error: function (e) {
                    alert("Error uploading profile image!");
                }
            })
        })
    })
    </script>
{% endblock %}