{% extends '_base.html' %}
{% load static %}




{% block content %}



		<section class="cover-sec">
			<img src="{{ user.profile.background.url }}" alt="">
		</section>


		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="{{user.profile.photo.url}}" alt="">
										</div><!--user-pro-img end-->
										<div class="user_pro_status">
											<ul class="flw-hr">
												<li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
												<li><a href="#" title="" class="hre">Block</a></li>
											</ul>
											<ul class="flw-status">
												<li>
													<span>Following</span>
													<b>{{ following_count }}</b>
												</li>
												<li>
													<span>Followers</span>
													<b>{{ follower_count }}</b>
												</li>
											</ul>
										</div><!--user_pro_status end-->
										<ul class="social_links">
											<li><a href="#" title=""><i class="la la-mail-reply"></i> www.example.com</a></li>
											<li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
										</ul>
									</div><!--user_profile end-->
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Followed</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											{% for fo in followed %}
                                                <div class="suggestion-usd">
                                                    <img src="{{ fo.followed.profile.photo.url }}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{fo.followed.get_full_name|default_if_none:fo.followed.username}}</h4>
                                                        <span>{{fo.followed.profile.about|default_if_none:""}}</span>
                                                    </div>

                                                </div>
											{% endfor %}



										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3>{{user.get_full_name|default_if_none:user.username}}</h3>
										<div class="star-descp">
											<span>{{user.profile.about|default_if_none:""}}</span>

										</div><!--star-descp end-->
										<div class="tab-feed">
											<ul>
												<li data-tab="feed-dd" class="active">
													<a href="#" title="">
														<img src="{% static 'images/ic1.png' %}" alt="">
														<span>Feed</span>
													</a>
												</li>
												<li data-tab="info-dd">
													<a href="#" title="">
														<img src="{% static 'images/ic2.png' %}" alt="">
														<span>Info</span>
													</a>
												</li>
											</ul>
										</div><!-- tab-feed end-->
									</div><!--user-tab-sec end-->
									<div class="product-feed-tab current" id="feed-dd">
										<div class="infinite-conatainer">
                                        {% for post in posts %}
                                            <div class="posty">
											<div class="post-bar no-margin">
												<div class="post_topbar">
													<div class="usy-dt">
														<img class="profile-img" src="{{ post.author.profile.photo.url}}" alt="">
														<div class="usy-name">
															<h3>{{post.author.get_full_name}}</h3>
															<span><img src="{% static 'images/clock.png' %}" alt="">{{post.created_at}}</span>
														</div>
													</div>

												</div>

												<div class="job_descp">
													<h3>{{ post.title }}</h3>
                                                    <div id="owl-demo" class="owl-carousel owl-theme owl-margin">
                                                        {% for img in post.postimage_set.all %}
                                                            <div class="item"><img src="{{ img.image.url }}" alt="Owl Image"></div>
                                                        {% endfor %}
                                                    </div>

													<p>{{ post.content|truncatechars:59 }} <a href="#" title="">view more</a></p>

												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a class="like-button" data-id="{{ post.id }}" href="#"><i class="la la-heart"></i> Like</a>
															<img src="{% static 'images/liked-img.png' %}" alt="">
															<span id="like-count{{ post.id }}">{{post.postlike_set.all|length}}</span>
														</li>
														<li><a href="#" title="" class="com"><img src="{% static 'images/com.png' %}" alt=""><a class="com" id="comment-count{{ post.id }}" > Comment {{post.comment_set.all|length}}</a></a></li>
													</ul>
													<a><i class="la la-eye"></i>{{post.postview_set.all|length}}</a>
												</div>
											</div><!--post-bar end-->
											<div class="comment-section">

												<div class="comment-sec">
													<ul id="comment-box{{ post.id }}" >
                                                        {% for comment in post.comment_set.all %}



														<li>
															<div class="comment-list">
																<div class="bg-img">
																	<img class="comment-img" src="{{comment.author.profile.photo.url}}" alt="">
																</div>
																<div class="comment">
																	<h3>{{comment.author.get_full_name|default_if_none:comment.author.username}}</h3>
																	<span><img src="{% static 'images/clock.png' %}" alt=""> {{comment.created_at}}</span>
																	<p>{{ comment.content }} </p>
{#																	<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>#}
																</div>
															</div><!--comment-list end-->

                                                            <ul>

                                                                    {% for reply in comment.parent_comment.all  %}
                                                                        <li>
                                                                            <div class="comment-list">
                                                                                <div class="bg-img">
                                                                                    <img class="comment-img" src="{{ reply.reply.author.profile.photo.url }}" alt="">
                                                                                </div>
                                                                                <div class="comment">
                                                                                    <h3>{{reply.reply.author.get_full_name|default_if_none:reply.reply.author.username}}</h3>
                                                                                    <span><img src="{% static 'images/clock.png' %}" alt=""> {{reply.reply.created_at}}</span>
                                                                                    <p>{{reply.reply.content}} </p>
{#                                                                                    <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>#}
                                                                                </div>
                                                                            </div><!--comment-list end-->
                                                                        </li>
                                                                    {% endfor %}



															</ul>
														</li>
                                                            {% endfor %}

													</ul>
												</div><!--comment-sec end-->
												<div class="post-comment">
													<div class="cm_img">
														<img class="comment-img" src="{{request.user.profile.photo.url}}" alt="">
													</div>
													<div class="comment_box">
														<form>
															<input id="comment-text{{ post.id }}" type="text" placeholder="Post a comment">
															<button data-id="{{ post.id }}" class="comment-send" type="button">Send</button>
														</form>
													</div>
												</div><!--post-comment end-->
											</div><!--comment-section end-->
										</div><!--posty end-->
                                        {% endfor %}
                                        </div>

                                            <div class="loading process-comm" style="display: none;">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div><!--process-comm end-->


									</div><!--product-feed-tab end-->
									<div class="product-feed-tab" id="info-dd">
										<div class="user-profile-ov">
											<h3>Overview</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov st2">
											<h3>Experience</h3>
											<h4>Web designer</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
											<h4>UI / UX Designer</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
											<h4>PHP developer</h4>
											<p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3>Education</h3>
											<h4>Master of Computer Science</h4>
											<span>2015 - 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3>Location</h3>
											<h4>India</h4>
											<p>151/4 BT Chownk, Delhi </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3>Skills</h3>
											<ul>
												<li><a href="#" title="">HTML</a></li>
												<li><a href="#" title="">PHP</a></li>
												<li><a href="#" title="">CSS</a></li>
												<li><a href="#" title="">Javascript</a></li>
												<li><a href="#" title="">Wordpress</a></li>
												<li><a href="#" title="">Photoshop</a></li>
												<li><a href="#" title="">Illustrator</a></li>
												<li><a href="#" title="">Corel Draw</a></li>
											</ul>
										</div><!--user-profile-ov end-->
									</div><!--product-feed-tab end-->

								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Followers</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">

                                           {% for fo in followers %}
                                                <div class="suggestion-usd">
                                                    <img src="{{ fo.follower.profile.photo.url }}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{fo.follower.get_full_name|default_if_none:fo.followed.username}}</h4>
                                                        <span>{{fo.follower.profile.about|default_if_none:""}}</span>
                                                    </div>

                                                </div>
											{% endfor %}

										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>






{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function() {

      $("#owl-demo").owlCarousel({

          autoPlay: 3000, //Set AutoPlay to 3 seconds

          items : 1,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]

      });

    });







        $(".like-button").click(function (e) {
        e.preventDefault();
        var data = new FormData();

        var id = $(this).data('id');

        data.append("post_id", $(this).data('id'));

        $.ajax({
                          url: '{% url 'post-like-api' %}',
                          headers: {'X-CSRFToken': '{{ csrf_token }}'},
                          type: 'POST',
                          data: data,
                          processData: false,
                          contentType: false,
                          success: function (e) {
                              console.log(e);
                            $(`#like-count${id}`).text(e.count);
                          },
                          error: function (e) {
                              {#alert("!");#}
                          }
                      })
    });


    $(".comment-send").click(function (e) {
        var data = new FormData();
        e.preventDefault();
        var id = $(this).data('id');
        data.append("post_id", id);
        data.append("comment", $(`#comment-text${id}`).val());

        $.ajax({
                          url: '{% url 'post-comment-api' %}',
                          headers: {'X-CSRFToken': '{{ csrf_token }}'},
                          type: 'POST',
                          data: data,
                          processData: false,
                          contentType: false,
                          success: function (e) {
                              console.log(e);
                              $(`#comment-box${id}`).append(`<li>
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="comment-list">
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="bg-img">
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img class="comment-img" src="${e.photo}" alt="">
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="comment">
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3>${e.author}</h3>
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span><img src="{% static 'images/clock.png' %}" alt=""> {% now "DATETIME_FORMAT" %}</span>
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p>${e.comment} </p>
{#\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>#}
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div><!--comment-list end-->
                              </li>`);

                              $(`a#comment-count${id}`).text(`Comment ${e.count}`);
                              $(`#comment-text${id}`).val('');


                          },
                          error: function (e) {
                              {#alert("!");#}
                          }
                      });

    });

    </script>
{% endblock %}