{% extends '_base.html' %}
{% load static %}


{% block content %}
    		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<img src="{{ user.profile.photo.url }}" alt="">
												</div>
											</div><!--username-dt end-->
											<div class="user-specs">
												<h3>{{ user.get_full_name|default_if_none:""}}</h3>
												<span>{{ user.profile.about|default_if_none:""}}</span>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Following</h4>
												<span>{{ following_count }}</span>
											</li>
											<li>
												<h4>Followers</h4>
												<span>{{follower_count}}</span>
											</li>
											<li>
												<a href="#" title="">View Profile</a>
											</li>
										</ul>
									</div><!--user-data end-->
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Suggestions</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											{% for suggestion in suggestions %}
                                                <div class="suggestion-usd">
                                                    <img src="{{suggestion.profile.photo.url}}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{suggestion.get_full_name|default_if_none:suggestion.username}}</h4>
                                                        <span>{{suggestion.profile.about|default_if_none:""}}</span>
                                                    </div>
                                                    <span><i class="la la-plus"></i></span>
                                                </div>
											{% endfor %}


										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
									<div class="tags-sec full-width">
										<div class="cp-sec">
											<img src="{% static 'images/logo2.png' %}" alt="">
											<p><img src="{% static 'images/cp.png' %}" alt="">Copyright 2018</p>
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="user-picy">
											<img class="post-topbar-img" src="{{ request.user.profile.photo.url }}" alt="">
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post-jb active" href="#" title="">New Post</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">
                                        <div class="posty">
										<div class="post-bar no-margin">
											<div class="post_topbar">
												<div class="usy-dt">
													<img class="profile-img" src="{{last.author.profile.photo.url}}" alt="">
													<div class="usy-name">
														<h3>{{last.author.get_full_name|default_if_none:last.author.username}}</h3>
														<span><img src="{% static 'images/clock.png' %}" alt="">{{last.created_at}}</span>
													</div>
												</div>

											</div>

											<div class="job_descp">
												<h3>{{last.title|default_if_none:""}}</h3>

												<p>{{ last.content|truncatechars:100 }}... <a href="#" title="">view more</a></p>

											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="la la-heart"></i> Like</a>
														<img src="{% static 'images/liked-img.png' %}" alt="">
														<span>{{last.postlike_set.all|length}}</span>
													</li>
													<li><a href="#" title="" class="com"><img src="{% static 'images/com.png' %}" alt=""> Comment {{ last.comment_set.all|length }}</a></li>
												</ul>
												<a><i class="la la-eye"></i>Views {{ last.postview_set.all|length }}</a>
											</div>
										</div><!--post-bar end-->
                                            <div class="comment-section">

												<div class="comment-sec">
													<ul>
                                                        {% for comment in last.comment_set.all %}



														<li>
															<div class="comment-list">
																<div class="bg-img">
																	<img class="comment-img" src="{{comment.author.profile.photo.url}}" alt="">
																</div>
																<div class="comment">
																	<h3>{{comment.author.get_full_name|default_if_none:comment.author.username}}</h3>
																	<span><img src="{% static 'images/clock.png' %}" alt=""> {{comment.created_at}}</span>
																	<p>{{ comment.content }} </p>
																	<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
																</div>
															</div><!--comment-list end-->

                                                            <ul>

                                                                    {% for reply in comment.parent_comment.all  %}
                                                                        <li>
                                                                            <div class="comment-list">
                                                                                <div class="bg-img">
                                                                                    <img class="comment-img" src="{{ reply.reply.author.profile.photo.url }}" alt="">
                                                                                </div>
                                                                                <div class="comment">
                                                                                    <h3>{{reply.reply.author.get_full_name|default_if_none:reply.reply.author.username}}</h3>
                                                                                    <span><img src="{% static 'images/clock.png' %}" alt=""> {{reply.reply.created_at}}</span>
                                                                                    <p>{{reply.reply.content}} </p>
{#                                                                                    <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>#}
                                                                                </div>
                                                                            </div><!--comment-list end-->
                                                                        </li>
                                                                    {% endfor %}



															</ul>
														</li>
                                                            {% endfor %}

													</ul>
												</div><!--comment-sec end-->
												<div class="post-comment">
													<div class="cm_img">
														<img class="comment-img" src="{{request.user.profile.photo.url}}" alt="">
													</div>
													<div class="comment_box">
														<form>
															<input type="text" placeholder="Post a comment">
															<button type="submit">Send</button>
														</form>
													</div>
												</div><!--post-comment end-->
											</div><!--comment-section end-->
                                        </div>
										<div class="top-profiles">
											<div class="pf-hd">
												<h3>Top Profiles</h3>
												<i class="la la-ellipsis-v"></i>
											</div>
											<div class="profiles-slider">
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
												<div class="user-profy">
													<img src="http://via.placeholder.com/57x57" alt="">
													<h3>John Doe</h3>
													<span>Graphic Designer</span>
													<ul>
														<li><a href="#" title="" class="followw">Follow</a></li>
														<li><a href="#" title="" class="envlp"><img src="{% static 'images/envelop.png' %}" alt=""></a></li>
														<li><a href="#" title="" class="hire">hire</a></li>
													</ul>
													<a href="#" title="">View Profile</a>
												</div><!--user-profy end-->
											</div><!--profiles-slider end-->
										</div><!--top-profiles end-->

                                    <div class="infinite-conatainer">
                                        {% for post in posts %}

										<div class="posty">
											<div class="post-bar no-margin">
												<div class="post_topbar">
													<div class="usy-dt">
														<img class="profile-img" src="{{ post.author.profile.photo.url}}" alt="">
														<div class="usy-name">
															<h3>{{post.author.get_full_name}}</h3>
															<span><img src="{% static 'images/clock.png' %}" alt="">{{post.created_at}}</span>
														</div>
													</div>

												</div>

												<div class="job_descp">
													<h3>{{ post.title }}</h3>

													<p>{{ post.content|truncatechars:100 }}... <a href="#" title="">view more</a></p>

												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a href="#"><i class="la la-heart"></i> Like</a>
															<img src="{% static 'images/liked-img.png' %}" alt="">
															<span>{{post.postlike_set.all|length}}</span>
														</li>
														<li><a href="#" title="" class="com"><img src="{% static 'images/com.png' %}" alt=""> Comment {{post.comment_set.all|length}}</a></li>
													</ul>
													<a><i class="la la-eye"></i>{{post.postview_set.all|length}}</a>
												</div>
											</div><!--post-bar end-->
											<div class="comment-section">

												<div class="comment-sec">
													<ul>
                                                        {% for comment in post.comment_set.all %}



														<li>
															<div class="comment-list">
																<div class="bg-img">
																	<img class="comment-img" src="{{comment.author.profile.photo.url}}" alt="">
																</div>
																<div class="comment">
																	<h3>{{comment.author.get_full_name|default_if_none:comment.author.username}}</h3>
																	<span><img src="{% static 'images/clock.png' %}" alt=""> {{comment.created_at}}</span>
																	<p>{{ comment.content }} </p>
																	<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
																</div>
															</div><!--comment-list end-->

                                                            <ul>

                                                                    {% for reply in comment.parent_comment.all  %}
                                                                        <li>
                                                                            <div class="comment-list">
                                                                                <div class="bg-img">
                                                                                    <img class="comment-img" src="{{ reply.reply.author.profile.photo.url }}" alt="">
                                                                                </div>
                                                                                <div class="comment">
                                                                                    <h3>{{reply.reply.author.get_full_name|default_if_none:reply.reply.author.username}}</h3>
                                                                                    <span><img src="{% static 'images/clock.png' %}" alt=""> {{reply.reply.created_at}}</span>
                                                                                    <p>{{reply.reply.content}} </p>
{#                                                                                    <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>#}
                                                                                </div>
                                                                            </div><!--comment-list end-->
                                                                        </li>
                                                                    {% endfor %}



															</ul>
														</li>
                                                            {% endfor %}

													</ul>
												</div><!--comment-sec end-->
												<div class="post-comment">
													<div class="cm_img">
														<img class="comment-img" src="{{request.user.profile.photo.url}}" alt="">
													</div>
													<div class="comment_box">
														<form>
															<input type="text" placeholder="Post a comment">
															<button type="submit">Send</button>
														</form>
													</div>
												</div><!--post-comment end-->
											</div><!--comment-section end-->
										</div><!--posty end-->
                                        {% endfor %}
                                    </div>
										<div class="loading process-comm" style="display: none;">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div><!--process-comm end-->

                                    {% if page_obj.has_next %}
                                        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
                                    {% endif %}

									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<div class="right-sidebar">

									<div class="widget widget-jobs">
										<div class="sd-title">
											<h3>Top Jobs</h3>
											<i class="la la-ellipsis-v"></i>
										</div>
										<div class="jobs-list">
											<div class="job-info">
												<div class="job-details">
													<h3>Senior Product Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Senior UI / UX Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Junior Seo Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Senior PHP Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Senior Developer Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
									<div class="widget widget-jobs">
										<div class="sd-title">
											<h3>Most Viewed This Week</h3>
											<i class="la la-ellipsis-v"></i>
										</div>
										<div class="jobs-list">
											<div class="job-info">
												<div class="job-details">
													<h3>Senior Product Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Senior UI / UX Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
											<div class="job-info">
												<div class="job-details">
													<h3>Junior Seo Designer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
												</div>
												<div class="hr-rate">
													<span>$25/hr</span>
												</div>
											</div><!--job-info end-->
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
									<div class="widget suggestions full-width">
										<div class="sd-title">
											<h3>Most Viewed People</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>Poonam</h4>
													<span>Wordpress Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>Bill Gates</h4>
													<span>C &amp; C++ Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="http://via.placeholder.com/35x35" alt="">
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="view-more">
												<a href="#" title="">View More</a>
											</div>
										</div><!--suggestions-list end-->
									</div>
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>




		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Post a project</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-12">
								<div class="price-sec">
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
									<span>To</span>
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Post a job</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-6">
								<div class="price-br">
									<input type="text" name="price1" placeholder="Price">
									<i class="la la-dollar"></i>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="inp-field">
									<select>
										<option>Full Time</option>
										<option>Half time</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->






{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/infinity/0.2.2/infinity.min.js"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-conatainer')[0],
        onBeforePageLoad: function () {
            $('.loading').show()
        },
        onAfterPageLoad: function () {
            $('.loading').hide()
        }
    });
    </script>
{% endblock %}

